body {
  background-color: aliceblue;
  margin: 0px;
  padding: 0px;
}

/*Navigation div*/
.top-div {
  background-color: black;
  width: 100vw;
  height: 200px;
}

.top-div ul li {
  list-style-type: none;
  display: inline;
  margin: 8.5%;
  font-size: 2rem;
}

.top-div ul li a {
  text-decoration: solid;
  color: white;
  transition: 0.3s ease 0s;
  font-family: "Courier New";
}

.side-navigation[data-v-16f87567] {
  position: fixed;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  background: currentColor;
  display: flex;
  flex-direction: column;
  color: #f5eddc;
  z-index: 2;
}
.side-navigation {
  background: currentColor;
  color: #f5eddc;
  display: flex;
  flex-direction: column;
  mix-blend-mode: difference;
  position: fixed;
  right: 3vw;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  z-index: 2;
}
.top-div ul li a:hover {
  text-decoration: line-through;
  color: black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex .div1 {
  background-color: white;
  width: 100vw;
  height: 600px;
  margin: 1px;
  padding-top: 3px;
}
