body {
  background-color: aliceblue;
  margin: 0px;
  padding: 0px;
}

/* Navigation div index*/
.top-div {
  background-color: black;
  width: 100vw;
  height: 100px;
}

.top-div ul li {
  list-style-type: none;
  display: inline;
  margin: 8.5%;
  font-size: 2rem;
}

.top-div ul li a {
  text-decoration: solid;
  color: white;
  transition: 0.3s ease 0s;
  font-family: "Courier New";
}
.top-div ul li a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex .div1 {
  background-color: white;
  width: 100vw;
  height: 600px;
  margin: 1px;
  padding-top: 3px;
}

.div1 > img {
  width: 100vw;
  height: 600px;
}

.div2 {
  background-color: brown;
  width: 100vw;
  height: 200px;
}

.footer {
  width: 100vw;
  height: 200px;
}

/* Page 2 Navigation */

.secondtop-div {
  background-color: azure;
  width: 100vw;
  height: 300px;
}

.secondtop-div ul li {
  list-style-type: none;
  display: inline-block;
  margin: 5%;
  font-size: 2rem;
}

.secondtop div ul li a {
  list-style-type: none;
  display: inline-block;
  font-size: 2rem;
}
