body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

/* Navigation div index ( home page )*/
.top-div {
  background-color: black;
  width: 100%;
  height: 100px;
}

.top-div ul li {
  list-style-type: none;
  display: inline;
  margin: 5.5%;
  font-size: 2rem;
}

.top-div ul li a {
  text-decoration: solid;
  color: whitesmoke;
  transition: 0.3s ease 0s;
  font-family: "Courier New";
}

.top-div ul li a:hover {
  text-decoration: underline;
}

.img_nav {
  max-width: 4rem;
  height: 5rem;
  margin: 2px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div1 {
  background-color: black;
  width: 100%;
  height: 580px;
  margin-top: 1rem;
  padding-bottom: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/3390922.webp");
  color: aliceblue;
  text-align: center;
  font-family: Verdana;
  font-size: large;
}

/* Div 2*/
.div2 {
  background-color: orange;
  width: 100%;
  height: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
}

footer {
  background-color: beige;
  width: 100%;
  height: auto;
}

/* Page 2 ( Issue ) */
/* Navigation page2 ( issue )*/

.second-top-div {
  background-color: black;
  width: 100%;
  height: 100px;
}

.second-top-div ul li {
  list-style-type: none;
  display: inline;
  margin: 5.5%;
  font-size: 2rem;
}

.second-top-div ul li a {
  text-decoration: solid;
  color: whitesmoke;
  transition: 0.3s ease 0s;
  font-family: "Courier New";
}

.second-top-div ul li a:hover {
  text-decoration: underline;
}

.img_nav2 {
  max-width: 4rem;
  height: 5rem;
  margin: 2px;
}
/* Div 1 for page 2*/
.second-div1 {
  background-color: aliceblue;
  width: 100vw;
  height: 200px;
  margin: 1px;
  padding-top: 3px;
}

/* Div 2 for page 2*/
.second-div2 {
  background-color: aliceblue;
  width: 100vw;
  height: 200px;
  margin: 1px;
  padding-top: 3px;
}
